#container {
    text-align: center !important;
  
    position: absolute !important;
    left: 30px;
    right: 30px;
    top: 50% !important;
    transform: translateY(-50%);
}

.word{
    font-size: 35px;
}

ion-item{
    margin: 20px 0;
}

.wrong{
    color: red;
}

.subtitle{
    font-size: 12px;
}

.wordLink{
    text-decoration: underline;
}

.wordLink:hover{
    text-decoration: underline;
    color: blue;
}