<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Add word
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Add Word</ion-title>
    </ion-toolbar>
  </ion-header>
  <div id="container">
    <form [formGroup]="form">
    <ion-item>
      <ion-label position="floating">Word</ion-label>
      <ion-input formControlName="word"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Meaning in Spanish</ion-label>
      <ion-input formControlName="meaning"></ion-input>
    </ion-item>
    <br>
    <ion-button expand="block" color="primary" (click)="addWord()">Add</ion-button>
  </form>
  </div>



  <!--<app-explore-container name="Tab 1 page"></app-explore-container>-->
</ion-content>